*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
os_crash.log
.idea/
.vscode/
*.iml
*.ipr
*.iws
**/build/

**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

*.g.dart
*.freezed.dart
*.mocks.dart
*.config.dart

app.*.symbols
app.*.map.json

**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
key.properties
**/*.keystore
**/*.jks

**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.macports/*
**/ios/**/.DS_Store
**/ios/**/xcuserdata/
**/ios/.symlinks/
**/ios/Pods/
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
.last_build_id
.filecache
gen_l10n_inputs_and_outputs.json
gen_localizations.d
gen_localizations.stamp
outputs.json